@import url("../assets/fonts/outfit/stylesheet.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #9b3ba3;
  --secondary: #00d4c9;
}

:root.dark {
  --primary: #9b3ba3;
  --secondary: #00d4c9;
}

html {
  scroll-behavior: smooth;
  user-select: none;
}

body {
  font-family: "Outfit", sans-serif;
}

.vel-modal {
  background-color: rgba(15, 23, 42, 0.7) !important;
}

.vel-btns-wrapper .btn__close,
.vel-btns-wrapper .btn__prev,
.vel-btns-wrapper .btn__next {
  color: rgb(248, 250, 252) !important;
}
